<h1>new user</h1>

<%= form_for :user, url: users_path do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>

  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>



  <%= form_for @nested do |f| %>
    Addresses:
    <ul>
      <%= f.fields_for :products do |products_form| %>
        <li>
          <%= products_form.label :title %>
          <%= products_form.text_field :title %>

          <%= products_form.label :description %>
          <%= products_form.text_field :description %>

          <%= products_form.label :price %>
          <%= products_form.text_field :price %>

            <p>
              <%= products_form.submit %>
            </p>
        </li>
      <% end %>
    </ul>
  <% end %>

<!--
  <p>
    <%= f.submit %>
  </p>
 -->

<% end %>
