<h1>new user</h1>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>

  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>

      <%= f.fields_for :products do |products_form| %>

          <%= products_form.label :title %>
          <%= products_form.text_field :title %>

          <%= products_form.label :description %>
          <%= products_form.text_field :description %>

          <%= products_form.label :price %>
          <%= products_form.text_field :price %>


      <% end %>
      <p>
        <%= f.submit %>
      </p>

<!--
  <p>
    <%= f.submit %>
  </p>
 -->

<% end %>
