<h1>show product</h1>

<%= link_to 'Back', products_path %>


<h1>Listing products</h1>

<table>
  <tr>
    <th>title</th>
    <th>description</th>
    <th>price  </th>
    <th>p.user  </th>
  </tr>


    <tr>
      <td><%= @product.title %></td>
      <td><%= @product.description %></td>
      <td><%= @product.price %></td>
      <td><%= @product.user %></td>
      <td><%= link_to 'Delete', product_path(@product.id),method: :delete,
              data: { confirm: 'Are you sure?' }%> </td>
    </tr>
</table>
